################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPFToolbox/obj/Debug
/WPFToolbox/bin/Debug
*.suo
